<div class="productTittle2">
  <h6 id="productNumber2">Produto 2</h6>
</div>
<div class="align2">
<form class="border2" id="productForm2">
  <div class="product1_2">
    <div>
      <label for="product2" >Produto</label>
      <input type="text" id="product2" class="inputBorder" onchange="coletarDadosDoFormulario2()">
    </div>
  </div>
  <div class="product2_2">
    <div>
      <label for="opcoes2">UND. Medida:</label>
      <select id="opcoes2" name="opcoes" class="inputBorder" onchange="coletarDadosDoFormulario2()">
        <option value="" disabled selected hidden></option>
        <option value="Unidade">Unidade</option>
        <option value="Dezena">Dezena</option>
        <option value="Centena">Centena</option>
      </select>
    </div>
    <div >
      <label for="quantidade2" >QTDE. em Estoque</label>
      <input type="text" id="quantidade2" class="inputBorder" onchange="totalValue2(), coletarDadosDoFormulario2()">
    </div>
    <div >
      <label for="valor2" >Valor Unitário</label>
      <input type="text" id="valor2" class="inputBorder" onchange="totalValue2(), coletarDadosDoFormulario2()">
    </div>
    <div >
      <label for="valorTotal2" >Valor Total</label>
      <input type="text" id="valorTotal2" class="inputBorder" disabled onchange="coletarDadosDoFormulario2()">
    </div>
  </div>
</form>
<div class="item2P hidden" id="item2P"></div>
</div>
</div>